<nav class="navbar navbar-expland-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="">Mongo Scraper</a>
</nav>

<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Your saved articles</p>
    </div>
</div>

<div class="container-fluid article-container">
    <div class="alert alert-warning text-center">
        <h4>Looks like we don't have any saved articles.</h4>
    </div>
    <div class="card">
        <div class="card-header text-center">
            <h3>Would you like to browse available articles?</h3>
        </div>
        <div class="card-body text-center">
            <h4>
                <a href="/index">Browse Articles</a>
            </h4>
        </div>
    </div>
</div>

<footer class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <p>Mongo Scraper</p>
    </div>
</footer>

<script src="../public/assets/javascript/saved.js"></script>